<% var w = new Array(5,5,5,5,5,5,5,5,5,6,6,6,6,6,5,5,5,5,5); %>
<table class="table table-bordered table-condensed" style="margin-bottom:0px">
	<colgroup>
		<col width="10%">
		<col width="8%">
		<col width="10%">
		<col width="10%">
		<col width="10%">
		<col width="6%">
		<col width="13%">
		<col width="13%">
		<col width="10%">
		<col width="10%">
	</colgroup>
	<tr>
		<td style="text-align:center; background-color:#dbdbd2">납부 대상</td>
		<td style="text-align:center"><%= data.roomnum %></td>
		<td style="text-align:center"><%= data.name %></td>
		<td style="text-align:center; background-color:#dbdbd2">납부 회차</td>
		<td style="text-align:center"><%= data.year %>.<%= data.month %></td>
		<td style="text-align:center"><%= data.number %></td>
		<td style="text-align:center"><%= data.totalFee %></td>
		<td style="text-align:center"><font style="color:blue"><%= data.year %>.<%= data.month %>.<%= data.leasePayDate %></font></td>
		<td style="text-align:center; background-color:#dbdbd2">추가 납부</td>
		<td style="text-align:center">
			<select id="" class="margin0" style="width:100%">
				<option value="1">1회</option>
			</select>
		</td>
	</tr>
	<tr>
		<td style="text-align:center; background-color:#dbdbd2">연체 회차</td>
		<td style="text-align:center">이번달</td>
		<td style="text-align:center">
			<select id="" class="margin0" style="width:100%">
				<% for (i = data.delayNumberNow-3; i <= data.delayNumberNow+3; i++) { %>
				<% if (i == data.delayNumberNow) { %>
				<option value="<%= i %>" selected><%= i %>회</option>
				<% } else { %>
				<option value="<%= i %>"><%= i %>회</option>
				<% } %>
				<% } %>
			</select>
		</td>
		<td style="text-align:center; background-color:#dbdbd2">입금</td>
		<td colspan="4"><input type="text" class="margin0" style="width:40%" value="<%= data.amountPay %>" /> 입금되었습니다.</td>
		<td style="text-align:center; background-color:#dbdbd2" colspan="2">납부처리일</td>
	</tr>
	<tr>
		<td style="text-align:center; background-color:#dbdbd2">연체 회차</td>
		<td style="text-align:center">다음달</td>
		<td style="text-align:center">
			<select id="" class="margin0" style="width:100%">
				<% for (i = data.delayNumberNext-3; i <= data.delayNumberNext+3; i++) { %>
				<% if (i == data.delayNumberNext) { %>
				<option value="<%= i %>" selected><%= i %>회</option>
				<% } else { %>
				<option value="<%= i %>"><%= i %>회</option>
				<% } %>
				<% } %>
			</select>
		</td>
		<td style="text-align:center; background-color:#dbdbd2">미납</td>
		<td colspan="4"><input type="text" class="margin0" style="width:40%" value="<%= data.amountNoPay %>" /> 추가됩니다.</td>
		<td style="text-align:center" colspan="2"><input type="text" class="margin0 datepicker" style="width:100%" value="<%= data.confirmDate %>" /></td>
	</tr>
	<tr>
		<td colspan="2" style="text-align:center; background-color:#dbdbd2">납부 처리 사유</td>
		<td colspan="8" style="text-align:center"><input type="text" class="margin0" style="width:100%" value="<%= data.payMsg %>" /></td>
	</tr>
	<tr>
		<td colspan="10" style="text-align:center">
			<button class="btn" onclick="modifyStatus();">수  정</button>
			<button class="btn" onclick="saveChangedInfo();">저  장</button>
		</td>
	</tr>
 </table>  




