<% var w = new Array(3,4,3,12, 8,8, 9,9,8, 3,3,3, 4,4,6, 4,4,5); %>
<table class="table table-bordered table-condensed" style="margin-bottom:0px">
	<colgroup>
	<% for (i = 0; i < w.length; i++) { %>
		<col width="<%= w[i] %>%">
	<% } %>
	</colgroup>
	<tr>
		<th rowspan="2" style="text-align:center; vertical-align:middle">선택</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">년도/월</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">회차</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">합계금액</th>
		<th colspan="2" style="text-align:center; vertical-align:middle">납부일</th>
		<th colspan="3" style="text-align:center; vertical-align:middle">미납 처리 사항</th>
		<th colspan="3" style="text-align:center; vertical-align:middle">연체내역
			<a id="tooltip" href="#" class="margin0"><i class="icon-question-sign"></i></a>
		</th>
		<th rowspan="2" colspan="2" style="text-align:center; vertical-align:middle">납부확인</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">납부결과</th>
		<th colspan="3" style="text-align:center; vertical-align:middle">납부 내역 수정</th>
	</tr>
	<tr>
		<th style="text-align:center; vertical-align:middle">예정일</th>
		<th style="text-align:center; vertical-align:middle">입금일</th>
		<th style="text-align:center; vertical-align:middle">입금액</th>
		<th style="text-align:center; vertical-align:middle">미납액</th>
		<th style="text-align:center; vertical-align:middle">처리일자</th>
		<th colspan="2" style="text-align:center; vertical-align:middle">미납회차</th>
		<th style="text-align:center; vertical-align:middle">누적</th>
		<th colspan="2" style="text-align:center; vertical-align:middle">회차</th>
		<th style="text-align:center; vertical-align:middle">수정</th>
	</tr>
	<% for (i = 0; i < data.length; i++) { %>
	<tr id="sel<%= i %>" <% if (data[i].fakeDone == 1) { %>style="background-color:#dbdbd2"<% } %>>
		<% if ((radio == 2 && data[i].payStatus != -1) || (radio == 3 && data[i].payStatus == -1)) { continue; } %>
		<% if (radio == 1) { %>
		<td style="text-align:center; vertical-align:middle"><input id="selCheck<%= i %>" type="checkbox" name="dataCheck" /></td>
		<% } else { %>
		<td style="text-align:center; vertical-align:middle"><input type="checkbox" name="dataCheck" disabled /></td>
		<% } %>
		<td style="text-align:center; vertical-align:middle"><%= data[i].year %>.<%= data[i].month %></td>
		<td style="text-align:center; vertical-align:middle"><%= data[i].number %></td>
		<td style="text-align:center; vertical-align:middle"><%= data[i].totalFee.toLocaleString().replace('.00','') %></td>
		<td style="text-align:center; vertical-align:middle; color:blue"><%= data[i].year %>.<%= data[i].month %>.<%= data[i].leasePayDate %></td>
		<td style="text-align:center; vertical-align:middle; color:green"><%= data[i].payDate %></td>
		<td style="text-align:center; vertical-align:middle"><%= data[i].amountPay.toLocaleString().replace('.00','') %></td>
		<% if (data[i].fakeDone == 1) { %>
		<td style="text-align:center; vertical-align:middle"><%= data[i].amountNoPay.toLocaleString().replace('.00','') %></td>
		<% } else { %>
		<td style="text-align:center; vertical-align:middle; background-color:red; color:white"><%= data[i].amountNoPay.toLocaleString().replace('.00','') %></td>
		<% } %>
		<td style="text-align:center; vertical-align:middle"><%= data[i].confirmDate %></td>
		<td style="text-align:center; vertical-align:middle">미납</td>
		<td style="text-align:center; vertical-align:middle"><%= data[i].delayNumber %>회</td>
		<% if (data[i].accumNumber < 2 || data[i].fakeDone == 1) { %>
		<td style="text-align:center; vertical-align:middle"><%= data[i].accumNumber %>회</td>
		<% } else { %>
		<td style="text-align:center; vertical-align:middle; background-color:red; color:white"><%= data[i].accumNumber %>회</td>
		<% } %>
		<td style="text-align:center; vertical-align:middle"><% if (data[i].payStatus == -1) { %>완납<% } else { %>납부<% } %></td>
		<td style="text-align:center; vertical-align:middle"><% if (data[i].payStatus == -1) { %>없음<% } else { %><%= data[i].payStatus %>회<% } %></td>
		<td style="text-align:center; vertical-align:middle"><% if (data[i].payStatus == -1) { %>납부(완납)<% } else if (data[i].payStatus == 0) { %>미납<% } else { %>부분 납부<% } %></td>
		<td style="text-align:center; vertical-align:middle">수정</td>
		<td style="text-align:center; vertical-align:middle"><%= data[i].modifyNumber %>회</td>
		<td style="text-align:center; vertical-align:middle"><button class="btn btn-mini" onclick="showModifyInfo('<%= data[i].id %>');">확인</button></td>
	</tr>
	<% } %>
</table>
