<% var num = 1; %>
<table class="table table-bordered table-condensed" style="margin-bottom:0px">
	<tr>
		<th style="text-align:center" width="5%">No.</th>
		<th style="text-align:center" width="8%">년도/월</th>
		<th style="text-align:center" width="10%">수정횟수</th>
		<th style="text-align:center" width="62%">내용</th>
		<th style="text-align:center" width="15%">시간</th>
	</tr>
	<% for (i = data.length-1; i >= 0; i--) { %>
	<% if (data[i].payment_id != id) { continue; } %>
	<% if (data[i].modifyNumber == 0) { continue; } %>
	<tr>
		<td style="text-align:center"><%= num %></td>
		<td style="text-align:center"><%= data[i].year %>.<%= data[i].month %></td>
		<td style="text-align:center"><%= data[i].modifyNumber %>회 수정</td>
		<td style="text-align:center"><%= data[i].modifyMsg %></td>
		<td style="text-align:center"><%= data[i].modifyTime %></td>
	</tr>
	<% num += 1; %>
	<% } %>
</table>
