<% var w = new Array(5,5,5,5,5,5,5,5,5,6,6,6,6,6,5,5,5,5,5); %>
<table class="table table-bordered table-condensed" style="margin-bottom:0px">
	<tr>
		<th rowspan="2" style="text-align:center">선택</th>
		<th rowspan="2" style="text-align:center">호수</th>
		<th rowspan="2" style="text-align:center">입주자</th>
		<th rowspan="2" style="text-align:center">년도/월</th>
		<th rowspan="2" style="text-align:center">회차</th>
		<th rowspan="2" style="text-align:center">합계금액</th>
		<th rowspan="2" style="text-align:center">납부(예정)일</th>
		<th colspan="5" style="text-align:center">납부처리</th>
		<th colspan="4" style="text-align:center">연체내역</th>
		<th rowspan="2" style="text-align:center">납부내역확인</th>
	</tr>
	<tr>
		<th colspan="2" style="text-align:center">추가납부</th>
		<th style="text-align:center">입금액</th>
		<th style="text-align:center">미납액</th>
		<th style="text-align:center">입금일</th>
		<th colspan="2" style="text-align:center">이번달</th>
		<th colspan="2" style="text-align:center">다음달</th>
	</tr>
	<% for (i = 0; i < data.length; i++) { %>
	<% if (!data[i].checked || (radio == 2 && !data[i].checked) || (radio == 3 && data[i].checked)) { %>
	<% continue; %>
	<% } %>
	<tr id="sel<%= i %>">
		<% if (radio == 1) { %>
		<td style="text-align:center"><input id="selCheck<%= i %>" type="checkbox" /></td>
		<% } else { %>
		<td style="text-align:center"><input id="selCheck<%= i %>" type="checkbox" disabled /></td>
		<% } %>
		<td style="text-align:center"><%= data[i].roomnum %></td>
		<td style="text-align:center"><%= data[i].name %></td>
		<td style="text-align:center"><%= data[i].year %>.<%= data[i].month %></td>
		<td style="text-align:center"><%= data[i].number %></td>
		<td style="text-align:center"><%= data[i].totalFee %></td>
		<% if (data[i].payStatus == -1) { %>
		<td style="text-align:center"><font style="color:green"><%= data[i].year %>.<%= data[i].month %>.<%= data[i].leasePayDate %></font></td>
		<td style="text-align:center">완납</td>
		<td style="text-align:center">없음</td>
		<td style="text-align:center"><%= data[i].amountPay %></td>
		<td style="text-align:center"><%= data[i].amountNoPay %></td>
		<% } else { %>
		<td style="text-align:center"><font style="color:red"><%= data[i].year %>.<%= data[i].month %>.<%= data[i].leasePayDate %></font></td>
		<td style="text-align:center">납부</td>
		<td style="text-align:center"><%= data[i].payStatus %>회</td>
		<td style="text-align:center"><font style="color:red"><%= data[i].amountPay %></font></td>
		<td style="text-align:center"><font style="color:red"><%= data[i].amountNoPay %></font></td>
		<% } %>
		<td style="text-align:center"><%= data[i].payDate %></td>
		<td style="text-align:center; color:gray"><%= data[i].month %>월</td>
		<td style="text-align:center"><%= data[i].delayNumberNow %>회</td>
		<td style="text-align:center; color:gray"><%= data[i].month + 1 %>월</td>
		<td style="text-align:center"><%= data[i].delayNumberNext %>회</td>
		<td style="text-align:center"><button class="btn btn-mini" onclick="goDetail('<%= bid %>', '<%= data[i].resident_id %>')">확인</button></td>
	</tr>
	<% } %>
</table>  






