<table class="table table-bordered table-condensed" style="margin-bottom:0px">
	<tr>
		<th width="15%" style="text-align:center; vertical-align:middle">미납분(연체금액) 기간</th>
		<td width="16%" style="text-align:center; vertical-align:middle">
			<span>
				<input class="margin0 span5 fontmini" type="text" value="<%= minym %>" disabled />
				~
				<input class="margin0 span5 fontmini" type="text" value="<%= maxym %>" disabled />
			</span>
		</td>
		<th width="12%" style="text-align:center; vertical-align:middle">총 미납 회수</th>
		<td width="10%"><input class="margin0 span12 fontmini" type="text" value="미납 <%= payCnt %>회" disabled /></td>
		<th width="32%" style="text-align:center; vertical-align:middle"><div style="float:right">총 미납 금액</div></th>
		<td width="15%" style="text-align:center; vertical-align:middle"><input style="text-align:center; background-color:red; color:white" class="margin0 span12 fontmini2" type="text" value="<%= totalAmountNoPay.toLocaleString().replace('.00','') %> 원" style="background-color:red; color:white" disabled /></td>
	</tr>
</table>

<% var w = new Array(3,6,3, 10,7,7, 8,8,8, 4,4,4, 4,4,7, 4,4,5); %>
<table class="table table-bordered table-condensed" style="margin-bottom:0px">
	<colgroup>
	<% for (i = 0; i < w.length; i++) { %>
		<col width="<%= w[i] %>%">
	<% } %>
	</colgroup>
	<tr style="text-align:center">
		<th rowspan="2" style="text-align:center; vertical-align:middle">선택</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">년도/월</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">회차</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">합계금액</th>
		<th colspan="2" style="text-align:center; vertical-align:middle">납부일</th>
		<th colspan="3" style="text-align:center; vertical-align:middle">미납 처리 사항</th>
		<th colspan="3" style="text-align:center; vertical-align:middle">연체내역</th>
		<th rowspan="2" colspan="2" style="text-align:center; vertical-align:middle">납부확인</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">처리상태</th>
		<th colspan="3" style="text-align:center; vertical-align:middle">납부 내역 수정</th>
	</tr>
	<tr style="text-align:center">
		<th style="text-align:center; vertical-align:middle">예정일</th>
		<th style="text-align:center; vertical-align:middle">입금일</th>
		<th style="text-align:center; vertical-align:middle">입금액</th>
		<th style="text-align:center; vertical-align:middle">미납액</th>
		<th style="text-align:center; vertical-align:middle">처리일자</th>
		<th colspan="2" style="text-align:center; vertical-align:middle">미납회차</th>
		<th style="text-align:center; vertical-align:middle">누적</th>
		<th colspan="2" style="text-align:center; vertical-align:middle">회차</th>
		<th style="text-align:center; vertical-align:middle">수정</th>
	</tr>
	<% for (i = 0; i < data.length; i++) { %>
	<% if (data[i].isThis == 1) { continue; } %>
	<tr <% if (data[i].payStatus == -1 || (i > 0 && data[i].number == data[i-1].number)) { %>style="background-color:#dbdbd2"<% } %>>
		<td style="text-align:center"><input type="checkbox" disabled /></td>
		<td style="text-align:center"><%= data[i].year %>.<%= data[i].month %></td>
		<td style="text-align:center"><%= data[i].number %></td>
		<td style="text-align:center"><%= data[i].totalFee.toLocaleString().replace('.00','') %></td>
		<td style="text-align:center; color:blue"><%= data[i].year %>.<%= data[i].month %>.<%= data[i].leasePayDate %></td>
		<td style="text-align:center; color:red"><%= data[i].payDate %></td>
		<td style="text-align:center"><%= data[i].amountPaySum.toLocaleString().replace('.00','') %></td>
		<% if (data[i].amountNoPay > 0) { %>
		<% if (i == 0 || data[i].number != data[i-1].number) { %>
		<td style="text-align:center; background-color:red; color:white"><%= data[i].amountNoPay.toLocaleString().replace('.00','') %></td>
		<% } else { %><td style="text-align:center"><%= data[i].amountNoPay.toLocaleString().replace('.00','') %></td><% } %>
		<% } else { %><td style="text-align:center"><%= data[i].amountNoPay.toLocaleString().replace('.00','') %></td><% } %>
		<td style="text-align:center"><%= data[i].confirmDate %></td>
		<% if (data[i].payStatus == -1) { %>
		<td style="text-align:center">완납</td>
		<td style="text-align:center">완납</td>
		<% } else { %>
		<td style="text-align:center">미납</td>
		<td style="text-align:center"><%= data[i].delayNumber %>회</td>
		<% } %>
		<% if ((i > 0 && data[i].number == data[i-1].number) || data[i].accumNumber == 0 || data[i].payStatus == -1) { %>
		<td style="text-align:center">0회</td>
		<% } else { %>
		<td style="text-align:center; background-color:red; color:white"><%= data[i].accumNumber %>회</td>
		<% } %>
		<td style="text-align:center"><% if (data[i].payStatus == -1) { %>완납<% } else { %>납부<% } %></td>
		<td style="text-align:center"><% if (data[i].payStatus == -1) { %>완납<% } else if (data[i].payStatus == 0) { %>없음<% } else { %><%= data[i].payStatus %>회<% } %></td>
		<td style="text-align:center"><% if (data[i].confirmStatus == "0") { %>미처리<% } else if (data[i].confirmStatus == "1") { %>납부처리<% } else { %>수정처리<% } %></td>
		<td style="text-align:center">수정</td>
		<td style="text-align:center"><%= data[i].modifyNumber %>회</td>
		<td style="text-align:center"><button class="btn btn-mini margin0" onclick="showPaymentModifyInfo('<%= data[i].id %>');">수정</button></td>
	</tr>
	<% } %>
 </table>  
