<table class="table table-bordered table-condensed table-hover">
	<colgroup>
		<col width="3%">
		<col width="5%">
		<col width="5%">
		<col width="5%">
		<col width="10%">
		<col width="7%">
		<col width="4%">

		<col width="7%">
		<col width="7%">
		<col width="7%">
		<col width="5%">
		<col width="7%">
		<col width="7%">

		<col width="5%">
		<col width="6%">
		<col width="6%">
		<col width="6%">
	</colgroup>
	<tr>
		<th rowspan="2" style="text-align:center; vertical-align:middle">선택</th>
		<th colspan="6" style="text-align:center; vertical-align:middle">임대 정보 1</th>
		<th colspan="4" style="text-align:center; vertical-align:middle">임대 정보 2</th>
		<th colspan="4" style="text-align:center; vertical-align:middle">재실 정보</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">상세내역 입력</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">상세내역 확인</th>
	</tr>
	</tr>
		<th style="text-align:center">호수</th>
		<th style="text-align:center">가격</th>
		<th style="text-align:center">입주자</th>
		<th style="text-align:center">보증금</th>
		<th colspan="2" style="text-align:center">임대료</th>
		
		<th style="text-align:center">관리비</th>
		<th style="text-align:center">부가세</th>
		<th style="text-align:center">주차비</th>
		<th style="text-align:center">납입일</th>
		
		<th style="text-align:center">계약일</th>
		<th style="text-align:center">만료일</th>
		<th style="text-align:center">주거</th>
		<th style="text-align:center">변경</th>
	</tr>
	<% for (i = 0; i < data.length; i++) { %>
	<tr class="showDetail">
		<td style="text-align:center"><input type="checkbox"></td>
		<td style="text-align:center"><%= data[i].roomnum %></td>
		<td style="text-align:center">-</td>
		<td style="text-align:center"><%= data[i].name %></td>
		<td style="text-align:center"><%= data[i].deposit.toLocaleString() %></td>
		<td style="text-align:center"><%= data[i].money.toLocaleString() %></td>
		<td style="text-align:center"><%= data[i].payway %></td>
		<td style="text-align:center">-</td>
		<td style="text-align:center">-</td>
		<td style="text-align:center"><%= data[i].parking.toLocaleString() %></td>
		<td style="text-align:center"><%= data[i].paydate %>일</td>
		<td style="text-align:center"><%= data[i].indate %></td>
		<td style="text-align:center"><%= data[i].outdate %></td>
		<td style="text-align:center">재실</td>
		<td style="text-align:center"><button class="btn btn-small btn-setting" disabled="disabled">입력</button></td>
		<td style="text-align:center"><button class="btn btn-small btn-setting" disabled="disabled">확인</button></td>
		<td style="text-align:center"><button class="btn btn-small" onClick="showDetail(<%= data[i].buildingnum %>,<%= data[i].roomnum %>)">확인</button></td>
	</tr>
	<% } %>
</table>
