<% var w = new Array(5,5,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6); %>
<table class="table table-bordered table-condensed" style="margin-bottom:0px">
	<tr>
		<th style="text-align:center">층</th>
		<th>호수</th>
		<th>입주자</th>
		<th>입주일</th>
		<th>입주검침</th>
		<th>사용기간</th>
		<% if (bid != 8) { %>
		<th>전월검침</th>
		<th>당월검침</th>
		<th>전월사용량</th>
		<th>당월사용량</th>
		<% } else { %>
		<th>급탕전월검침</th>
		<th>난방전월검침</th>
		<th>급탕당월검침</th>
		<th>난방당월검침</th>
		<th>급탕전월사용량</th>
		<th>난방전월사용량</th>
		<th>급탕당월사용량</th>
		<th>난방당월사용량</th>
		<% } %>
		<th>기본요금</th>
		<th>사용요금</th>
		<th>부가가치세</th>
		<th>절사금액</th>
		<th>합계금액</th>
	</tr>
	<% for (i = 0; i < data.length; i++) { %>
	<tr>
		<td style="text-align:center"><%= data[i].floor %></td>
		<td style="text-align:center"><%= data[i].roomnum %></td>
		<td style="text-align:center"><%= data[i].name %></td>
		<td style="text-align:center"><%= data[i].date %></td>
		<td style="text-align:center"><%= data[i].checkG %></td>
		<td style="text-align:center"><%= data[i].usePeriod %></td>
		<% if (bid != 8) { %>
		<td style="text-align:center"><%= data[i].readBefore %></td>
		<td style="text-align:center"><%= data[i].readNow %></td>
		<td style="text-align:center"><%= data[i].capacityBefore %></td>
		<td style="text-align:center"><%= data[i].capacityNow %></td>
		<% } else { %>
		<td style="text-align:center"><%= data[i].readBeforeHotWater %></td>
		<td style="text-align:center"><%= data[i].readBeforeHeat %></td>
		<td style="text-align:center"><%= data[i].readNowHotWater %></td>
		<td style="text-align:center"><%= data[i].readNowHeat %></td>
		<td style="text-align:center"><%= data[i].capacityBeforeHotWater %></td>
		<td style="text-align:center"><%= data[i].capacityBeforeHeat %></td>
		<td style="text-align:center"><%= data[i].capacityNowHotWater %></td>
		<td style="text-align:center"><%= data[i].capacityNowHeat %></td>
		<% } %>
		<td style="text-align:center"><%= data[i].basicCharge %></td>
		<td style="text-align:center"><%= data[i].useCharge %></td>
		<td style="text-align:center"><%= data[i].vat %></td>
		<td style="text-align:center"><%= data[i].trimmedFee %></td>
		<td style="text-align:center"><%= data[i].totalFee %></td>
	</tr>
	<% } %>
</table>
