<table class="table table-bordered table-condensed" style="margin-bottom:5px;">
	<tr>
		<th style="background-color:#dbdbd2; text-align:center">납부대상</th>
		<td style="text-align:center"><%= roomnum %></td>
		<td style="text-align:center"><%= name %></td>
		<th style="background-color:#dbdbd2; text-align:center">년도/월</th>
		<td style="text-align:center"><%= ym %></td>
		<td style="text-align:center"><%= noticeNumber %>회차</td>
		<th style="background-color:#dbdbd2; text-align:center">금액</th>
		<td style="text-align:center"><%= (leaseMoney).toLocaleString().replace('.00','') %></td>
		<td style="text-align:center"><%= ym %>.<%= leasePayDate %></td>
		<th style="background-color:#dbdbd2; text-align:center">입력일</th>
		<td style="text-align:center"><font style="color:blue"><%= inputDate %></font></td>
		<th style="background-color:#dbdbd2; text-align:center">고지일</th>
		<td style="text-align:center"><font style="color:red"><%= noticeDate %></font></td>
	</tr>
</table>
<table class="table table-bordered table-condensed" style="margin-bottom:0px">
	<tr>
		<th style="text-align:center" colspan="2" rowspan="2">입력수정</th>
		<th style="text-align:center" colspan="4">임대료 및 관리비</th>
		<th style="text-align:center" colspan="3">공과금</th>
		<th style="text-align:center" rowspan="2">기타금액</th>
		<th style="text-align:center" rowspan="2">변동금액</th>
		<th style="text-align:center" rowspan="2">합계금액</th>
		<th style="text-align:center" colspan="2">고지처리사항<a href="#" title="고지 확인이 안 된 경우, 고지일 표시가 되지 않습니다." date-rel="tooltip" class="margin0"><i class="icon-question-sign"></i></a></th>
		<th style="text-align:center" rowspan="2">처리상태</th>
	</tr>
	<tr>
		<th style="text-align:center">임대료</th>
		<th style="text-align:center">관리비</th>
		<th style="text-align:center">부가세</th>
		<th style="text-align:center">주차비</th>
		<th style="text-align:center">전기</th>
		<th style="text-align:center">수도</th>
		<th style="text-align:center">가스</th>
		<th style="text-align:center">입력일</th>
		<th style="text-align:center">고지일</th>
	</tr>
	<% for (i = 0; i < data.length; i++) { %>
	<% if (data[i].eid == eid) { %>
	<tr>
		<td style="text-align:center">수정</td>
		<td style="text-align:center"><%= data[i].modifyNumber %>회</td>
		<td style="text-align:center"><%= data[i].leaseMoney.toLocaleString().replace('.00','') %></td>
		<td style="text-align:center"><%= data[i].maintenanceFee.toLocaleString().replace('.00','') %></td>
		<td style="text-align:center"><%= data[i].surtax.toLocaleString().replace('.00','') %></td>
		<td style="text-align:center"><%= data[i].parkingFee.toLocaleString().replace('.00','') %></td>
		<td style="text-align:center"><%= data[i].electricityFee.toLocaleString().replace('.00','') %></td>
		<td style="text-align:center"><%= data[i].waterFee.toLocaleString().replace('.00','') %></td>
		<td style="text-align:center"><%= data[i].gasFee.toLocaleString().replace('.00','') %></td>
		<td style="text-align:center"><%= data[i].etcFee.toLocaleString().replace('.00','') %></td>
		<td style="text-align:center"><font style="color:red"><%= data[i].changedFee.toLocaleString().replace('.00','') %></font></td>
		<td style="text-align:center"><%= data[i].totalFee.toLocaleString().replace('.00','') %></td>
		<td style="text-align:center"><font style="color:blue"><%= inputDate %></font></td>
		<td style="text-align:center"><font style="color:red"><%= noticeDate %></font></td>
		<td style="text-align:center">
		<% if (status == 1) { %>처리<% } else { %>미처리<% } %>
		</td>
	</tr>
	<% } %>
	<% } %>
</table>  
<table class="table table-bordered table-condensed" style="margin-top:5px; background-color:#dbdbd2">
	<tr>
		<td width:"6%"><input type="text" class="margin0 span12" style="text-align:center" value="<%= ym %>" disabled /></td>
		<td width:"6%"><input type="text" class="margin0 span12" style="text-align:center" value="<%= noticeNumber %>회차" disabled /></td>
		<th width:"12%" style="background-color:#dbdbd2; text-align:center">해당 합계 금액</th>
		<td width:"17%"><input type="text" class="margin0 span12" style="text-align:center" value="<%= noticeFee.toLocaleString().replace('.00','') %> 원" disabled /></td>
		<th width:"12%" style="background-color:#dbdbd2; text-align:center">미납 금액</th>
		<td width:"17%"><input type="text" class="margin0 span12" style="text-align:center" value="<%= paymentFee.toLocaleString().replace('.00','') %> 원" disabled /></td>
		<th width:"12%" style="background-color:#dbdbd2; text-align:center">총 납부 금액</th>
		<td width:"18%"><input type="text" class="margin0 span12" style="text-align:center; background-color:red; color:white" value="<%= (noticeFee+paymentFee).toLocaleString().replace('.00','') %> 원" disabled /></td>
	</tr>
</table>
