<% var w = new Array(3,3,5,5,6, 3,18, 9, 3,3, 9,9,9, 3,3,3, 6); %>
<table class="table table-bordered table-condensed" style="margin-bottom:0px">
	<colgroup>
	<% for (i = 0; i < w.length; i++) { %>
		<col width="<%= w[i] %>%">
	<% } %>
	</colgroup>
	<tr>
		<th rowspan="2" style="text-align:center">납부(확인)</th>
		<th rowspan="2" style="text-align:center">선택</th>
		<th rowspan="2" style="text-align:center">호수</th>
		<th rowspan="2" style="text-align:center">입주자</th>
		<th rowspan="2" style="text-align:center">년도/월</th>
		<th rowspan="2" style="text-align:center">회차</th>
		<th rowspan="2" style="text-align:center">합계금액</th>
		<th rowspan="2" style="text-align:center">납부(예정)일</th>
		<th colspan="5" style="text-align:center">납부처리</th>
		<th colspan="3" style="text-align:center">연체내역
			<a id="tooltip" href="#" class="margin0"><i class="icon-question-sign"></i></a>
		</th>
		<th rowspan="2" style="text-align:center">납부내역확인</th>
	</tr>
	<tr>
		<th colspan="2" style="text-align:center">납부확인</th>
		<th style="text-align:center">입금액</th>
		<th style="text-align:center">미납액</th>
		<th style="text-align:center">입금일</th>
		<th colspan="2" style="text-align:center">미납회차</th>
		<th style="text-align:center">누적</th>
	</tr>
	<% for (i = 0; i < data.length; i++) { %>
	<% if (!data[i].noticeCheck || (radio == 2 && !data[i].checked) || (radio == 3 && data[i].checked)) { %>
	<% continue; %>
	<% } %>
	<tr id="sel<%= i %>">
		<% if (data[i].checked) { %>
		<td style="text-align:center"><input type="checkbox" checked disabled /></td>
		<% } else { %>
		<td style="text-align:center"><input type="checkbox" disabled /></td>
		<% } %>
		<% if (radio == 1) { %>
		<td style="text-align:center"><input id="selCheck<%= i %>" type="checkbox" /></td>
		<% } else { %>
		<td style="text-align:center"><input id="selCheck<%= i %>" type="checkbox" disabled /></td>
		<% } %>
		<td style="text-align:center"><%= data[i].roomnum %></td>
		<td style="text-align:center"><%= data[i].name %></td>
		<td style="text-align:center"><%= data[i].year %>.<%= data[i].month %></td>
		<td style="text-align:center"><%= data[i].number %></td>
		<td style="text-align:center"><%= data[i].totalFee.toLocaleString().replace('.00','') %></td>
		<% if (data[i].payStatus == -1) { %>
		<td style="text-align:center"><font style="color:green"><%= data[i].year %>.<%= data[i].month %>.<%= data[i].leasePayDate %></font></td>
		<td style="text-align:center">완납</td>
		<td style="text-align:center">없음</td>
		<td style="text-align:center"><%= data[i].amountPay.toLocaleString().replace('.00','') %></td>
		<td style="text-align:center"><%= data[i].amountNoPay.toLocaleString().replace('.00','') %></td>
		<% } else { %>
		<td style="text-align:center"><font style="color:red"><%= data[i].year %>.<%= data[i].month %>.<%= data[i].leasePayDate %></font></td>
		<td style="text-align:center">납부</td>
		<td style="text-align:center"><%= data[i].payStatus %>회</td>
		<td style="text-align:center"><font style="color:red"><%= data[i].amountPay.toLocaleString().replace('.00','') %></font></td>
		<td style="text-align:center"><font style="color:red"><%= data[i].amountNoPay.toLocaleString().replace('.00','') %></font></td>
		<% } %>
		<td style="text-align:center"><%= data[i].payDate %></td>
		<% if (data[i].delayNumber > 0) { %>
		<td style="text-align:center; background-color:red; color:white">미납</td>
		<td style="text-align:center; background-color:red; color:white"><%= data[i].delayNumber %></td>
			<% if (data[i].accumNumber >= 2) { %>
		<td style="text-align:center; background-color:red; color:white"><%= data[i].accumNumber %>회</td>
			<% } else { %>
		<td style="text-align:center"><%= data[i].accumNumber %>회</td>
			<% } %>
		<% } else { %>
		<td style="text-align:center">고지</td>
		<td style="text-align:center"><%= data[i].number %></td>
		<td style="text-align:center">0회</td>
		<% } %>
		<td style="text-align:center"><button class="btn btn-mini" onclick="goDetail('<%= bid %>', '<%= data[i].resident_id %>')">확인</button></td>
	</tr>
	<% } %>
</table>  






