<% for (var i = 0; i < data.length; i++) { %>
<tr class="floor_under_over">
	<td colspan="2" style="text-align:center"><%= data[i].floor_ko %>층</td>
	<td colspan="2" style="text-align:center">
		<select class="selOp margin0" id="numRoom_<%= data[i].floor %>" style="width:80px">
			<option value="0">없음</option>
		<% for (var j = 1; j <= 20; j++) { %>
			<option value="<%= j %>"><%= j %>개</option>
		<% } %>
		</select>
	</td>
	<td colspan="4" style="text-align:center">
		<input id="s_room_<%= data[i].floor %>" class="margin0" type="text" value="없음" style="width:60px" disabled />
		<input id="e_room_<%= data[i].floor %>" class="margin0" type="text" value="없음" style="width:60px" disabled />
	</td>
	<td colspan="2" style="text-align:center">
		임대 <input id="store_<%= data[i].floor %>" class="storeCheck" type="checkbox" <%= data[i].b_d %> />
	</td>
	<td colspan="2" style="text-align:center">
		<select class="selOp_store margin0" id="storeNumRoom_<%= data[i].floor %>" style="width:80px" disabled>
			<option value="0">없음</option>
		<% for (var j = 1; j <= 20; j++) { %>
			<option value="<%= j %>"><%= j %>개</option>
		<% } %>
		</select>
	</td>
	<td colspan="4" style="text-align:center">
		<input id="storeNames_<%= data[i].floor %>" class="margin0 span12" type="text" disabled />
	</td>
	<td colspan="2" style="text-align:center">
		주차 <input id="parking_<%= data[i].floor %>" class="parkingCheck" type="checkbox" />
	</td>
	<td colspan="2" style="text-align:center">
		<select class="selOp_parking margin0" id="parkingNum_<%= data[i].floor %>" style="width:80px" disabled>
			<option value="0">없음</option>
		<% for (var j = 1; j <= 20; j++) { %>
			<option value="<%= j %>"><%= j %>면</option>
		<% } %>
		</select>
	</td>
</tr>
<% } %>
